In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import math

%run '~/dsi/PortlandPD/src/functions.py'
%matplotlib inline

plt.style.use('ggplot')
font = {'weight': 'bold',
        'size':   16}
plt.rc('font', **font)

In [22]:
df = start_with_combined()

In [27]:
vc = df[df['FinalCallCategory'] == 'Vice']

In [31]:
portland_coords = [45.5236, -122.6750]
zoom_start = 11
map = make_blank_map(portland_coords, zoom_start)

In [38]:
table = choro_table(df, 'Neighborhood')
table

                        Neighborhood     Count
0                  Portland Downtown  116471.0
1                          Hazelwood  103279.0
2                Powellhurst-Gilbert   83225.0
3                              Lents   75272.0
4   Centennial Community Association   68386.0
..                               ...       ...
90                         Crestwood    1092.0
91                 Northwest Heights    1030.0
92           Ardenwald-Johnson Creek     985.0
93                     Marshall Park     634.0
94                     Healy Heights     173.0

[95 rows x 2 columns]